<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://midemoapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/75bbe148-d5d2-41dc-bd2e-5e14b96363b4/resourceGroups/RG_TEST/providers/Microsoft.Web/sites/midemoapp</ResourceId>
    <UserName>$midemoapp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://midemoapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>